{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<link rel="stylesheet" href="../../static/coloring/css/new_interaction.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Orbitron:wght@500&display=swap" rel="stylesheet">


	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

	<style type="text/css">
		

		

	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			function myCustomInteraction() {
				var tool = new paper.Tool();

				tool.onMouseDown = function (event) {
				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    if (hit) {
				    		// Color pallette keeps track of the full history of colors, though we
				    		// only color in with the most-recent color.
				        hit.item.fillColor = cp.history[cp.history.length - 1];
				    }
				}
			}

			// create a color palette with the given colors
			function createColorPalette(colors){

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function(item) {
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();
				    } else {
				    	myGradientInteraction();
				    }

				});
			}

			// Set up the mandala interactivity.
			init(true);

			var currentColor = 0;

			// source: https://medium.com/@bantic/hand-coding-a-color-wheel-with-canvas-78256c9d7d43
			$(() => {
				let canvas = document.getElementById('canvas');
				let ctx = canvas.getContext("2d");
				
				function drawCircle() {
					let radius = 50;
					let image = ctx.createImageData(2*radius, 2*radius);
					let data = image.data;

					for (let x = -radius; x < radius; x++) {
						for (let y = -radius; y < radius; y++) {
							
							let [r, phi] = xy2polar(x, y);
							
							if (r > radius) {
								// skip all (x,y) coordinates that are outside of the circle
								continue;
							}
							
							let deg = rad2deg(phi);
							
							// Figure out the starting index of this pixel in the image data array.
							let rowLength = 2*radius;
							let adjustedX = x + radius; // convert x from [-50, 50] to [0, 100] (the coordinates of the image data array)
							let adjustedY = y + radius; // convert y from [-50, 50] to [0, 100] (the coordinates of the image data array)
							let pixelWidth = 4; // each pixel requires 4 slots in the data array
							let index = (adjustedX + (adjustedY * rowLength)) * pixelWidth;
							
							let hue = deg;
							let saturation = r / radius;
							let value = 1.0;
							
							let [red, green, blue] = hsv2rgb(hue, saturation, value);
							let alpha = 255;
							
							data[index] = red;
							data[index+1] = green;
							data[index+2] = blue;
							data[index+3] = alpha;
						}
					}

					ctx.putImageData(image, 0, 0);
				}
				
				function xy2polar(x, y) {
					let r = Math.sqrt(x*x + y*y);
					let phi = Math.atan2(y, x);
					return [r, phi];
				}
				
				// rad in [-π, π] range
				// return degree in [0, 360] range
				function rad2deg(rad) {
					return ((rad + Math.PI) / (2 * Math.PI)) * 360;
				}
				
				drawCircle();
				let radius = 50;
				function getColor(x, y) {
					let [r, phi] = xy2polar(x, y);	
					if (r > radius) {
						return 0;
					}
					let deg = rad2deg(phi);

					let hue = deg;
					let saturation = r / radius;
					let value = 1.0;
					return hsv2rgb(hue, saturation, value);
				}


				var relX = 0;
				var relY = 0;
				$('#canvas').click(function (wheel) {
					var posX = $(this).offset().left
					var posY = $(this).offset().top;
					relX = wheel.pageX - posX - radius;
					relY = wheel.pageY - posY - radius;
					currentColor = getColor(relX, relY); // color saved for use!
					console.log(currentColor);
				});

				
			});

			// hue in range [0, 360]
			// saturation, value in range [0,1]
			// return [r,g,b] each in range [0,255]
			// See: https://en.wikipedia.org/wiki/HSL_and_HSV#From_HSV
			function hsv2rgb(hue, saturation, value) {
				let chroma = value * saturation;
				let hue1 = hue / 60;
				let x = chroma * (1- Math.abs((hue1 % 2) - 1));
				let r1, g1, b1;
				if (hue1 >= 0 && hue1 <= 1) {
					([r1, g1, b1] = [chroma, x, 0]);
				} else if (hue1 >= 1 && hue1 <= 2) {
					([r1, g1, b1] = [x, chroma, 0]);
				} else if (hue1 >= 2 && hue1 <= 3) {
					([r1, g1, b1] = [0, chroma, x]);
				} else if (hue1 >= 3 && hue1 <= 4) {
					([r1, g1, b1] = [0, x, chroma]);
				} else if (hue1 >= 4 && hue1 <= 5) {
					([r1, g1, b1] = [x, 0, chroma]);
				} else if (hue1 >= 5 && hue1 <= 6) {
					([r1, g1, b1] = [chroma, 0, x]);
				}
				
				let m = value - chroma;
				let [r,g,b] = [r1+m, g1+m, b1+m];
				
				// Change r,g,b values from [0,1] to [0,255]
				return [255*r,255*g,255*b];
			}
		}
	</script>
</head>
<body>

	<div class="menu-bar">
		<img src="../../static/coloring/images/Back.svg" class="menu-button">
		<img src="../../static/coloring/images/Download.svg" class="menu-button">

		<script>
			
			var tens_min = parseInt("{{tens_min}}", 10)
			var ones_min = parseInt("{{ones_min}}", 10)
			var tens_sec = parseInt("{{tens_sec}}", 10)
			var ones_sec = parseInt("{{ones_sec}}", 10)
			var total_sec = tens_min * 600 + ones_min * 60 + tens_sec * 10 + ones_sec;

			// Update the count down every 1 second
			var x = setInterval(function() {
				total_sec -= 1;
				var minutes = Math.floor(total_sec / 60).toString();
				var seconds = (total_sec % 60).toString();

				if (seconds < 10) {
					seconds = "0" + seconds;
				}

				// Display the result in the element with id="clock"
				document.getElementById("clock").innerHTML = minutes + ":" + seconds;
			}, 1000);
		</script>
		<div class="timer">
			<img src="../../static/coloring/images/clock 2.svg" id="clockface">
			<br>
			<div id="clock" style="margin: 10px;"></div>
			
		</div>
	</div>

	<div class="palette">
		<div class="palette-contents">
			<div class="basic">
				<img id="open-drawer" src="../../static/coloring/images/Open drawer.svg">
				<div class="swatches">
					<div class="swatch" id="swatch-1">
						<div class="paint-color"></div>
					</div>
					<div class="swatch" id="swatch-2">
						<div class="paint-color"></div>
					</div>
					<div class="swatch" id="swatch-3">
						<div class="paint-color"></div>
					</div>
					<div class="swatch" id="swatch-4">
						<div class="paint-color"></div>
					</div>
					<div class="swatch" id="swatch-5">
						<div class="paint-color"></div>
					</div>
					<div class="swatch" id="swatch-6">
						<div class="paint-color"></div>
					</div>
					<div class="swatch" id="swatch-7">
						<div class="paint-color"></div>
					</div>
					<div class="swatch current" id="swatch-8">
						<div class="paint-color"></div>
					</div>
				</div>
			</div>
			<div class="color-tools">
				<div class="paint-buttons">
					<div class="button" id="reset-button">
						Reset Palette
					</div>
				</div>
				<div class="color-wheel-settings">
					<canvas id="canvas"></canvas>
					<!-- Uncomment the above line to test the color wheel w/ inspect element (console) -->
					
				</div>
				<div class="pre-made-settings">
					<div class="row">
						<div class="swatch pre-made">
							<div class="paint-color" id="reds">Reds</div>
						</div>
						<div class="swatch pre-made">
							<div class="paint-color" id="oranges">Oranges</div>
						</div>
						<div class="swatch pre-made">
							<div class="paint-color" id="yellows">Yellows</div>
						</div>
					</div>
					<div class="row">
						<div class="swatch pre-made">
							<div class="paint-color" id="greens">Greens</div>
						</div>
						<div class="swatch pre-made">
							<div class="paint-color" id="blues">Blues</div>
						</div>
						<div class="swatch pre-made">
							<div class="paint-color" id="purples">Purples</div>
						</div>
					</div>
					<div class="row">
						<div class="swatch pre-made">
							<div class="paint-color" id="browns">Browns</div>
						</div>
						<div class="swatch pre-made">
							<div class="paint-color" id="blacks">Blacks</div>
						</div>
						<div class="swatch pre-made">
							<div class="paint-color" id="pinks">Pinks</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		
		
	</div>

	<div class="tool-bar">
		<div class="paint-tools">
			<div class="tool">Paint bucket</div>
			<div class="tool using">Paintbrush</div>
			<div class="tool">Eraser</div>
		</div>
		<div class="undo-redo">
			<img src="../../static/coloring/images/Undo.svg">
			<img src="../../static/coloring/images/Redo.svg">
		</div>
	</div>

	<div class="canvas">
		<!--<canvas id="myCanvas" width="40%" height="40%"></canvas>-->
	</div>

</body>
</html>
