{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<link rel="stylesheet" href="../../static/coloring/css/new_interaction.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Orbitron:wght@500&display=swap" rel="stylesheet">


	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

	<style type="text/css">
		#color-palette {
			width: 300px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}
	</style>

	<script type="text/javascript" canvas="canvas">
		window.onload = function() {
			var canvas = document.getElementById('myCanvas');

			// coloring page
			var mandala = {
				item: null,
				lastClicked: null,
				filePath: '/static/coloring/images/mandala-freepik.svg'
			};

			// color palette
			var cp = {
				history: ["#000000"], // black selected by default
				options: [],
				$container: $('#color-palette')
			}

			function myCustomInteraction() {
				var tool = new paper.Tool();

				tool.onMouseDown = function (event) {
				    var hit = mandala.item.hitTest(event.point, { tolerance: 10, fill: true });
				    if (hit) {
				    		// Color pallette keeps track of the full history of colors, though we
				    		// only color in with the most-recent color.
				        hit.item.fillColor = cp.history[cp.history.length - 1];
				    }
				}
			}

			// create a color palette with the given colors
			function createColorPalette(colors){

				// create a swatch for each color
				for (var i = colors.length - 1; i >= 0; i--) {
					var $swatch = $("<div>").css("background-color", colors[i])
									   .addClass("swatch");
					$swatch.click(function(){
						// add color to the color palette history
					  	cp.history.push($(this).css("background-color"));
					});
					cp.$container.append($swatch);
				}
			}

			// loads a set of colors from a json to create a color palette
			function getColorsCreatePalette(){
				cp.$container.html(" ");
				$.getJSON('/static/coloring/vendors/material/material-colors.json', function(colors){
					var keys = Object.keys(colors);
					for (var i = keys.length - 1; i >= 0; i--) {
						cp.options.push(colors[keys[i]][500]);
					}
					createColorPalette(cp.options);
				});
			}

			function init(custom){
				paper.setup(canvas);
				getColorsCreatePalette();

				paper.project.importSVG(mandala.filePath, function(item) {
					mandala.item = item._children["design-freepik"];
				    paper.project.insertLayer(0,mandala.item);

				    if (custom) {
				    	myCustomInteraction();
				    } else {
				    	myGradientInteraction();
				    }

				});
			}

			// Set up the mandala interactivity.
			init(true);
		}
	</script>
</head>
<body>

	<div class="menu-bar">
		<img>
		<img>

		<script>
			// Set the date we're counting down to
			var countDownDate = new Date("Jan 5, 2022 15:37:25").getTime();
			var tens_min = parseInt("{{tens_min}}", 10)
			var ones_min = parseInt("{{ones_min}}", 10)
			var tens_sec = parseInt("{{tens_sec}}", 10)
			var ones_sec = parseInt("{{ones_sec}}", 10)
			

			console.log(tens_min);

			var total_sec = tens_min * 600 + ones_min * 60 + tens_sec * 10 + ones_sec;

			// Update the count down every 1 second
			var x = setInterval(function() {

				// Get today's date and time
				// var now = new Date().getTime();

				// Find the distance between now and the count down date
				// var distance = countDownDate - now;

				// Time calculations for days, hours, minutes and seconds
				// var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
				// var seconds = Math.floor((distance % (1000 * 60)) / 1000);

				total_sec -= 1;
				var minutes = Math.floor(total_sec / 60);
				var seconds = total_sec % 60;

				console.log(minutes);
				console.log(seconds);

				// Display the result in the element with id="demo"
				document.getElementById("clock").innerHTML = minutes + ":" + seconds;

				// If the count down is finished, write some text
				/*
				if (distance < 0) {
					clearInterval(x);
					document.getElementById("demo").innerHTML = "EXPIRED";
				}
				*/
			}, 1000);
		</script>
		<div class="timer">
			<img src="../../static/coloring/images/clock 2.svg">
			<div id="clock"></div>
			
		</div>
	</div>

	<div class="palette">
		<div class="basic">
			<img id="open-drawer" src="../../static/coloring/images/Open drawer.svg">
			<div class="swatches">
				<img class="swatch" src="../../static/coloring/images/Swatch 1.svg">
				<img class="swatch" src="../../static/coloring/images/Swatch 1.svg">

			</div>
		</div>
		<div class="paint-tools">
			<div class="color-wheel-settings">

			</div>
			<div class="pre-made-settings">

			</div>
		</div>
		
	</div>

	<div class="tool-bar">
		<div class="paint-tools">

		</div>
		<div class="undo-redo">
			<img>
			<img>
		</div>
	</div>

	<div class="canvas">
		<!--<canvas id="myCanvas" width="40%" height="40%"></canvas>-->
	</div>

</body>
</html>
