{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<link rel="stylesheet" href="../../static/coloring/css/new_interaction.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Orbitron:wght@500&display=swap" rel="stylesheet">


	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/js/new_interaction.js' %}"></script>

	<style type="text/css">

		#canvas {
			margin-top: 1em;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}

		.action-active {
			filter: invert(55%) sepia(29%) saturate(6601%) hue-rotate(161deg) brightness(94%) contrast(101%);
		}
				
	</style>

	<script type="text/javascript">
		
	</script>
</head>
<body>

	<div class="menu-bar">
		<img src="../../static/coloring/images/Back.svg" class="menu-button">
		<img src="../../static/coloring/images/Download.svg" class="menu-button">

		<script>
			
			var tens_min = parseInt("{{tens_min}}", 10)
			var ones_min = parseInt("{{ones_min}}", 10)
			var tens_sec = parseInt("{{tens_sec}}", 10)
			var ones_sec = parseInt("{{ones_sec}}", 10)
			var total_sec = tens_min * 600 + ones_min * 60 + tens_sec * 10 + ones_sec;

			var minutes = Math.floor(total_sec / 60).toString();
			var seconds = (total_sec % 60).toString();

			// wait for the "clock" element to not equal null
			var y = setInterval(function() {
				if (document.getElementById("clock") != null) {
					document.getElementById("clock").innerHTML = minutes + ":" + seconds;
					clearInterval(y);
				}
			}, 0.1);

			var x = setInterval(function() {
					total_sec -= 1;
					minutes = Math.floor(total_sec / 60).toString();
					seconds = (total_sec % 60).toString();

					if (seconds < 10) {
						seconds = "0" + seconds;
					}

					// Display the result in the element with id="clock"
					document.getElementById("clock").innerHTML = minutes + ":" + seconds;
			}, 1000);
			
		</script>
		<div class="timer">
			<img src="../../static/coloring/images/clock 2.svg" id="clockface">
			<br>
			<div id="clock" style="margin: 10px;"></div>
		</div>
	</div>

	<div class="palette">
		<div class="palette-contents">
			<div class="basic">
				<img id="open-drawer" src="../../static/coloring/images/Open drawer.svg">
				<div class="swatches">
					<div class="swatch" id="swatch-fill-1">
						<div class="paint-color" id="swatch-1"></div>
					</div>
					<div class="swatch" id="swatch-fill-2">
						<div class="paint-color" id="swatch-2" ></div>
					</div>
					<div class="swatch" id="swatch-fill-3">
						<div class="paint-color" id="swatch-3"></div>
					</div>
					<div class="swatch" id="swatch-fill-4">
						<div class="paint-color" id="swatch-4"></div>
					</div>
					<div class="swatch" id="swatch-fill-5">
						<div class="paint-color" id="swatch-5"></div>
					</div>
					<div class="swatch" id="swatch-fill-6">
						<div class="paint-color" id="swatch-6"></div>
					</div>
					<div class="swatch" id="swatch-fill-7">
						<div class="paint-color" id="swatch-7"></div>
					</div>
					<div class="swatch marker" id="swatch-fill-8">
						<div class="paint-color current" id="swatch-8"></div>
					</div>
				</div>
			</div>
			<div class="color-tools">
				<div class="paint-buttons">
					<div class="button" id="reset-button">
						Reset Palette
					</div>
				</div>
				<div class="color-wheel-settings">
					<canvas id="canvas"></canvas>
					<!-- Uncomment the above line to test the color wheel w/ inspect element (console) -->
					
				</div>
				<div class="pre-made-settings">
					<div class="row">
						<div class="swatch pre-made">
							<div class="paint-color" id="reds">Reds</div>
						</div>
						<div class="swatch pre-made">
							<div class="paint-color" id="oranges">Oranges</div>
						</div>
						<div class="swatch pre-made">
							<div class="paint-color" id="yellows">Yellows</div>
						</div>
					</div>
					<div class="row">
						<div class="swatch pre-made">
							<div class="paint-color" id="greens">Greens</div>
						</div>
						<div class="swatch pre-made">
							<div class="paint-color" id="blues">Blues</div>
						</div>
						<div class="swatch pre-made">
							<div class="paint-color" id="purples">Purples</div>
						</div>
					</div>
					<div class="row">
						<div class="swatch pre-made">
							<div class="paint-color" id="browns">Browns</div>
						</div>
						<div class="swatch pre-made">
							<div class="paint-color" id="blacks">Blacks</div>
						</div>
						<div class="swatch pre-made">
							<div class="paint-color" id="pinks">Pinks</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>

	<div class="tool-bar">
		<div class="paint-tools">
			<div class="tool using" id="bucket">Paint Bucket</div>
			<div class="tool" id="brush">Paintbrush</div>
			<div class="tool" id="eraser">Eraser</div>
		</div>
		<div class="undo-redo">
			<img src="../../static/coloring/images/Undo.svg" id="undo">
			<img src="../../static/coloring/images/Redo.svg" id="redo">
		</div>
	</div>

	<div class="canvas">
		<canvas id="myCanvas" width="600%" height="600%"></canvas>
	</div>

</body>
</html>
