{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<link rel="stylesheet" href="../../static/coloring/css/timer.css">

	<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Orbitron:wght@500&display=swap" rel="stylesheet">


	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

	<script type="text/javascript">
	
		$(function() {
			// source: https://stackoverflow.com/questions/15337084/using-javascript-to-auto-move-cursor-onto-next-form-field
			
			$('#tens_min').keypress(function() {
				var self = $(this);
				setTimeout(function() {
					if (self.val().length > 0) {
						$('#ones_min').focus();
					}
				}, 1);
			});

			$('#ones_min').keypress(function() {
				var self = $(this);
				setTimeout(function() {
					if (self.val().length > 0) {
						$('#tens_sec').focus();
					}
				}, 1);
			});

			$('#tens_sec').keypress(function() {
				var self = $(this);
				setTimeout(function() {
					if (self.val().length > 0) {
						$('#ones_sec').focus();
					}
				}, 1);
			});

			
		});

    </script>
		
</head>

<body>

	<!-- <canvas id="myCanvas" width="750px" height="750px"></canvas>
	<div id="color-palette"></div> -->
	<header>
		<div class="nav-holder">
			<img src="../../static/coloring/images/Logo-Small.svg" id="logo">
		</div>
	</header>
	<div class="content">

		<div class="instructions">
			<h2>Set a timer for your painting session</h2>
			<h4>You can come back to your piece later!</h4>
		</div>

		<div class="set-time">
	
			<form class="time-form" action="{% url 'new_interaction' %}" method="post">
				{% csrf_token %}
				<div class="input-boxes">
					<input class="time-input d-flex justify-content-center" id="tens_min" name="tens_min" type="text">
					<input class="time-input" id="ones_min" name="ones_min" type="text">
					<span style="font-size: xx-large; font-weight: bolder;">:</span>
					<input class="time-input" id="tens_sec" name="tens_sec" type="text">
					<input class="time-input" id="ones_sec" name="ones_sec" type="text">
				</div>
					
					<button class="start-button" type="submit">Start coloring
						<img src="../../static/coloring/images/arrow-right 2.svg" id="arrow">
					</button>
			</form>
		</div>
	</div>
	
</body>

</html>
