{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  	<title>P3 Coloring</title>

	<script type="text/javascript" src="{% static 'coloring/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'coloring/vendors/paper/paper-full.min.js' %}"></script>

	<style type="text/css">
		#color-palette {
			width: 300px;
			background-color: #f1f1f1;
			display: flex;
			flex-wrap: wrap;
			position: absolute;
			top: 0;
		}

		.swatch {
			width: 24px;
			height: 24px;
			-moz-border-radius: 12px;
			-webkit-border-radius: 12px;
			border-radius: 12px;
			margin: 3px;
		}

		#myCanvas {
			padding-left: 0;
		    padding-right: 0;
		    margin-left: auto;
		    margin-right: auto;
		    display: block;
		}
	</style>

	<script type="text/javascript" canvas="canvas">
    </script>
		
</head>

<body>

	<!-- <canvas id="myCanvas" width="750px" height="750px"></canvas>
	<div id="color-palette"></div> -->
    <form action="{% url 'timer' %}" method="post">
        {% csrf_token %}
        <input name="tens_min" type="text" placeholder="tens_m">
        <input name="ones_min" type="text" placeholder="ones_m">
        <input name="tens_sec" type="text" placeholder="tens_s">
        <input name="ones_sec" type="text" placeholder="ones_s">
        <button type="submit">Start coloring!</button>
    </form>
</body>

</html>
